<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jagerfield.mobilecontactslibrary"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        tools:replace="label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="jagerfield.app.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jagerfield.app.ContactView.DisplayContactActivity"
            android:label="@string/title_activity_display_contact"
            android:parentActivityName="jagerfield.app.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jagerfield.app.MainActivity" />
        </activity>
    </application>

</manifest>